* {
  font-family: 'Roboto', sans-serif;
}

header, footer {
  display: flex;
  align-items: center;
  padding: 25px;
  box-shadow: 0 1px 0 0 #E9ECEF;
}

header.main-page {
  justify-content: space-between;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  justify-content: center;
  box-shadow: 0 -1px 0 0 #E9ECEF;
}

.container {
  margin: auto;
  max-width: 860px;
  padding: 30px 0;
}

.container .row {
  margin: 0 0 30px 0;
}

.container .row h4 {
  margin: 0;
}

.container .row.space-between {
  justify-content: space-between;
}

.container .row.auto > .row-col {
  width: 47.5%;
}

.container .row.auto.gutters > .row-col:first-of-type {
  margin-right: 5%;
}

.col.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.col.centered h4 {
  text-align: center;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #E9ECEF;
  border-radius: 100px;
}

.icon-container:hover {
  cursor: pointer;
}

.labeled-input label {
  font-weight: bold;
}

.labeled-input input {
  transition: 0.2s;
  border: 2px solid #E9ECEF;
  border-radius: 4px;
}

.labeled-input input:focus {
  outline: 0 none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #007DFF;
}

.labeled-input input:focus + .input-dropdown {
  display: block;
}

.labeled-input input:focus + .input-dropdown + .invited-people {
  display: none;
}

.input-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-date .labeled-input.date {
  position: relative;
  width: 65%;
  margin-right: 5%;
}

.input-date .labeled-input.date img {
  position: absolute;
  transition: 0.2s;
  right: 15px;
  bottom: 15px;
  opacity: 0.4;
}

.input-date .labeled-input.time {
  width: 20%;
}

.input-date .labeled-input.time:first-of-type {
  margin-right: 5%;
}

.input-date span {
  font-size: 20px;
  font-weight: bold;
  margin: 25px 2.5% 0 2.5%;
}

.input-dropdown {
  width: 100%;
  max-height: 150px;
  margin-top: 0.5px;
  box-shadow: 0px 6px 10px  #E9ECEF, 4px 4px 10px  #E9ECEF, -4px 6px 10px  #E9ECEF;
  border-radius: 4px;
  overflow-y: scroll;
  display: none;
}

.input-dropdown ul.people {
  margin: 0;
  list-style-type: none;
}

.input-dropdown ul.people li.person {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: normal;
  vertical-align: middle;
}

.input-dropdown ul.people li.person img {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  border: 1px solid #E9ECEF;
  margin-right: 10px;
}

.input-dropdown ul.people li.person span.floor, .input-dropdown ul.people li.person span.dot {
  font-weight: normal;
  margin-left: 5px;
  color: #ccc;
  vertical-align: middle;
}

.input-dropdown ul.people li.person span.dot {
  color: black;
}

.input-dropdown ul.people li.person:hover {
  background: #F6F7F9;
}

.input-dropdown ul.people li.person:hover span {
  font-weight: bold;
}

.invited-people {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.invited-people .invited-person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  background: #E9ECEF;
  border-radius: 16px;
  padding: 0;
  margin: 0 8px 8px 0;
}

.invited-people .invited-person .person-wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.invited-people .invited-person .person-wrapper img.avatar {
  background: gray;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  margin-right: 10px;
}

.invited-people .invited-person img.icon {
  width: 9px;
  margin-right: 12px;
}

.invited-people .invited-person img.icon:hover {
  cursor: pointer;
}

.labeled-room label {
  font-weight: bold;
}

.labeled-room > .room {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 36px;
  background: #007DFF;
  border-radius: 4px;
}

.labeled-room > .room .info > span {
  font-size: 14px;
  color: white;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.labeled-room > .room .info > .time {
  font-weight: bold;
  margin-right: 15px;
}

.labeled-room > .room img {
  margin-right: 4px;
}

button.button {
  transition: 0.2s;
  height: 25px !important;
  padding: 0px 20px !important;
  border-radius: 4px !important;
  background: #E9ECEF;
  color: black;
  margin: 0 20px 0 0;
  font-size: 14px;
}

button.button:last-of-type {
  margin-right: 0;
}

button.button.blue {
  background: #007DFF;
  color: white;
}

button.button:hover {
  background: #0059FF;
}

button.button:active {
  background: #0B00FF;
}

button.button:disabled {
  background: #E9ECEF;
  color: rgba(0, 0, 0, 0.2);
}

a.button-wrapper {
  margin: 0 0 0 20px;
}

a.button-wrapper + button {
  margin: 0 0 0 20px;
}

a.button-wrapper:first-of-type {
  margin: 0;
}

.modal.open {
  width: 400px !important;
}

.modal-body > .row.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.modal-body > .row.centered img {
  width: 42px;
  height: 42px;
}

main.main-page .top-bar {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  box-shadow: 0 1px 0 0 #E9ECEF;
}

main.main-page .top-bar .date {
  display: flex;
  align-items: center;
  width: 280px;
}

main.main-page .top-bar .date > .icon-container:first-of-type {
  margin-right: 20px;
}

main.main-page .top-bar .date > h5 {
  margin: 0 20px 0 0;
}

main.main-page .top-bar .date > h5:hover {
  cursor: pointer;
}

main.main-page .side-bar {
  width: 305px;
  padding: 10px 25px;
  box-shadow: 1px 0 0 0 #E9ECEF;
}

main.main-page .side-bar .floor-container {
  margin-bottom: 10px;
}

main.main-page .side-bar .floor-container .floor-num {
  font-size: 12px;
  text-transform: uppercase;
  color: #858E98;
}

main.main-page .side-bar .floor-container ul.floors {
  margin: 0;
  list-style-type: none;
}

main.main-page .side-bar .floor-container ul.floors li.floor {
  padding: 8px 0;
  line-height: 20px;
}

main.main-page .side-bar .floor-container ul.floors li.floor .title {
  font-size: 16px;
  font-weight: bold;
}

main.main-page .side-bar .floor-container ul.floors li.floor .capacity {
  font-size: 14px;
  font-weight: normal;
}

main.main-page .side-bar .floor-container ul.floors li.floor.disabled > span {
  color: #858E98;
}

main.main-page .side-bar .floor-container ul.floors li.floor.active > .title {
  color: #0070E0;
}
/*# sourceMappingURL=style.css.map */